@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

.userimg{
	
   width: 50px;
   height: 50px;
   
}



	.card{
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0,0,0,0.5) !important;
	}
	
	.social_icon span{
	font-size: 60px;
	margin-left: 10px;
	color: #FFC312;
	}
	
	.social_icon span:hover{
	color: white;
	cursor: pointer;
	}
	
	.card-header h3{
	color: white;
	}
	
	.social_icon{
	position: absolute;
	right: 20px;
	top: -45px;
	}
	
	.input-group-prepend span{
	width: 50px;
	background-color: #FFC312;
	color: black;
	border:0 !important;
	}

	.input-group-prepen span{
		width: 50px;
		height: 38px;
		margin-top: 8px;
		background-color: #FFC312;
		color: black;
		border:0 !important;
		}
	
	
	
	.remember{
	color: white;
	}
	
	.remember input
	{
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
	}
	
	.login_btn{
	color: black;
	background-color: #FFC312;
	width: 100px;
	}
	
	.login_btn:hover{
	color: black;
	background-color: #ffc002;
	}
	
	.links{
	color: white;
	}

	

	